/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Encabezado */
h1 {
    color: #333;
    margin-top: 20px;
}

h3 {
    color: #666;
    margin-top: 10px;
}

/* Línea divisoria */
hr {
    border: 1px solid #ccc;
    width: 80%;
    margin: 20px auto;
}

/* Catálogo de automóviles */
h2 {
    color: #333;
    margin: 20px 0;
}

/* Imágenes de automóviles */
img {
    margin: 10px;
}

/* Títulos de automóviles */
h4 {
    color: #666;
}

/* Pie de página */
#pie {
    background-color: #333;
    color: #fff;

    height: 5%;
    width: 1207px;
    justify-content: center;
    float: inline-start;

}
