@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Header styles */
.header {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  z-index: 99;
  background: transparent;
}

.header .nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 600;
}

.nav a:hover {
  border-bottom: 4px solid #fff;
  transition: 0.5s;
}

.search i {
  color: #fff;
  font-size: 1.5em;
  margin-left: 20px;
}

/* Background image styles */
.background {
  width: 100%;
  height: 100vh;
  background-image: url(/Img/Fondo.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(5px);
}

/* Home section styles */
.home {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 75%;
  background-image: url(/Img/Fondo.jpg);
  background-position: center;
  transform: translate(-50%, -50%);
  background-size: cover;
  display: flex;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

/* Content styles */
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 0;
  text-align: center;
}

.content a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  top: -40px;
  display: flex;
}

.content h2 {
  font-size: 3.5em;
  text-align: left;
  color: #fff;
  letter-spacing: 10px;
}

.content .icon {
  margin-top: 20px;
  font-size: 1.5em;
  display: flex;
  justify-content: left;
}

.content .icon i {
  margin-left: 20px;
  color: #fff;
}

/* Login form styles */
.login {
  width: 100%;
  max-width: 450px;
  position: relative;
  padding: 20px;
  backdrop-filter: blur(10px);
  margin: 0 auto;
}

.login h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

button {
  width: 100%;
  height: 40px;
  background-color: rgb(66, 44, 48);
  outline: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 7px;
  border: none;
  color: #fff;
}

button:active {
  font-size: 25px;
}

.login .sign-up {
  display: flex;
  justify-content: center;
}

.login input[type="text"],
.login input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #666; /* Borde del input */
    border-radius: 3px;
    font-size: 1em;
    color: #333; 
}

.login .sign-up a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.registro .login {
    display: flex;
    justify-content: center;
  }

.login .sign-up p {
  color: #fff;
}

.sign-up a:hover {
  text-decoration: underline;
  color: #fff;
}

.login a:hover {
    text-decoration: underline;
    color: #fff;
  }
.fa-solid.fa-spider::before {
  color: darkgrey;
}
.fa-instagram::before {
  content: "\f16d";
  color: brown;
}

.fa-gitlab:before {
  content: "\f296";
  color: orangered;
}
.fa-facebook:before {
  content: "\f09a";
  color: aqua;
}
/* Estilos base para el formulario de registro */
.registro {
    width: 100%;
    max-width: 450px;
    position: relative;
    padding: 20px;
    backdrop-filter: blur(10px);
    margin: 0 auto; /* Centrar horizontalmente */
}

.registro h2 {
  font-size: 2em;
  text-align: center;
  color: #fff;
}

.registro form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registro label {
  font-size: 1.2em;
  color: aliceblue;
}

.registro input[type="text"],
.registro input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #666; /* Borde del input */
  border-radius: 3px;
  font-size: 1em;
  color: #333; /* Color del texto */
}

.registro button {
    width: 100%;
    height: 40px;
    background-color: rgb(66, 44, 48);
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    border: none;
    color: #fff;
}

.registro button:active {
    font-size: 25px;
}

.registro button:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}

/* Responsive Styles */
/* Media query para pantallas con un ancho máximo de 700px */
@media screen and (max-width: 700px) {
  .header {
    padding: 20px 5%;
  }

  .search {
    display: none;
  }

  .home {
    flex-direction: column;
    height: auto;
  }

  .content h2 {
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  /* Establecer el color tierra para los íconos en .content */
  .fa-instagram::before {
    content: "\f16d";
    color: brown;
  }

  .fa-gitlab:before {
    content: "\f296";
    color: orangered;
  }
  .fa-facebook:before {
    content: "\f09a";
    color: aqua;
  }
  .content .icon {
    justify-content: center;
  }

  .content .icon i {
    margin-left: 10px;
  }
  .registro {
    max-width: 100%; /* Ancho máximo completo en pantallas pequeñas */
    padding: 10px;
  }
  
  .registro input[type="text"],
  .registro input[type="email"] {
    width: 100%;
  }

  
  .login input[type="text"],
  .login input[type="password"] {
    width: 100%;
  }

  .login {
    max-width: 100%;
  }

  .login h2 {
    color: black;
  }

  /* Establecer el color tierra para los íconos fuera de .content */
  .fa-magnifying-glass,
  .fa-user,
  .fa-envelope,
  .fa-lock {
    color: #8b4513; /* Color tierra (SaddleBrown) */
  }
  
}

/* Footer styles */
.pieNavegacion {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #fff;
}
