/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado principal (h1) */
h1 {
    text-align: center;
    color: #333;
}

/* Estilo para el encabezado secundario (h2) */
h2 {
    text-align: center;
    color: #666;
}

/* Estilo para los enlaces (a) */
a {
    text-decoration: none;
    color: #0074D9;
}

/* Estilo para los enlaces cuando se les pasa el cursor por encima */
a:hover {
    text-decoration: underline;
}

/* Estilo para el párrafo (p) dentro de los enlaces */
a p {
    font-style: italic;
    color: #888;
}

/* Estilo para el separador horizontal (hr) */
hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

/* Estilo para el pie de página (footer) */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
